* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  background-color: rgba(0, 255, 255, .5);
}

ul {
  list-style: none;
}
h1 {
  text-align: center;
  color: blue;
}
h2,h3 {
  text-transform: uppercase;
  color: darksalmon;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding:1.25rem;
}
.film {
  margin: 1.5rem 0;
}

.inline-h {
  display: inline;
}
.inline-h::after {
  content: ': ';
}